.locationdiv{
    margin-top: 10vh;
    display: flex;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 9vw;
}

.locationtodiv{
    display: flex;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 9vw;
}

.cityfromform{
    height: 7vh;
    width: 43vw;
    margin-left: 17vw;


}

.citytoform{
    height: 7vh;
    width: 43vw;
    margin-left: 17vw;
}

.locationbutton{
    height: 4vh;
}

.skylineimg{
    width: 100%;
    height: 57%;
    margin-top: 31vh;
    position: absolute;
    bottom: 0%;
}





