.categoryPage{
    display: flex;
    justify-content: center;
    margin: auto;
  flex-direction: column;
  margin-top: 80px;
}
.categoryPageButtons{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    justify-content: center;
    padding:30px;
    gap:20px
}
.btn{
    padding: 10px;
}