#categories {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 30%;
    box-shadow: 3px 3px 3px rgb(226, 223, 223);
    width: 80%;
    margin: 1rem;
}

#categories .selected {
    border-color: #c84ffd;
    border: 3px solid;
}

#categories:hover {
    box-shadow: 0 0 10px #ccc;
    cursor: pointer;
}
*/ #eventInfo-main {
    display: flex;
    justify-content: space-around;
    flex-basis: content;
}

#eventInfo-main p {
    margin: 0;
}

#eventInfo-sub {
    display: flex;
    justify-content: space-around;
}

#cardLink {
    display: flex;
    justify-content: center;
}

#cardLink button {
    background: linear-gradient(217deg, #866ff3, rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(336deg, #df3f3f, rgba(0, 0, 255, 0) 70.71%),
        linear-gradient(127deg, #ba57b2, rgba(0, 255, 0, 0) 70.71%);
    border: none;
    border-radius: 8px;
}

#cardLink a {
    text-decoration: none;
    color: white;
}

#middle-card {
    display: flex;
    align-items: center;
}

#music-logo {
    height: 10%;
}
