#card-container {
    margin-top: 14%;
    font-size: 0.7rem;
    
}

/* make box shadow and cursor on hover over #card-container */
#card-container:hover {
    box-shadow: 0 0 10px #ccc;
    cursor: pointer;
}
